
<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel='stylesheet', href='stylesheets/vendor/reset/normalize.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  //- script(src="js/app.js")
  title star
body
  canvas(id="canvas" width="100%" height="100%")
  //- button(id="erase") erase
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="js/app/app.js")
  